<%- include ('partials/header') %>

<style>
#depCity::placeholder, #destCity::placeholder{
    text-transform: capitalize;
    color: #000;
}
input[type="text"],input[type="number"], input[type="date"], select,option
{
    background: transparent;
    color: #000;
    font-weight: 500;
}
</style>

    <div class="_pos-r">
        <div class="theme-hero-area _h-desk-100vh">
          <div class="theme-hero-area-bg-wrap">
            <div class="theme-hero-area-bg" style="background-image:url(./img/flight.jpg);background-position:30% 30%; background-size: 100%;" id="hero-banner"></div>
            <div class="theme-hero-area-mask theme-hero-area-mask-half"></div>
            <div class="theme-hero-area-inner-shadow"></div>
            <div class="blur-area" data-bg-area="#hero-banner" data-blur-area="#hero-search-form" data-blur="20"></div>
          </div>
          <div class="theme-hero-area-body _pos-desk-v-c _w-f _pv-mob-60">
            <div class="container">
              <div class="row">
                <div class="col-md-11 ">
                  <div class="theme-search-area theme-search-area-stacked theme-search-area-white">
                    <div class="theme-search-area-header _mb-20">
                      <h1 class="theme-search-area-title">Cheap Flights Best Deals</h1>
                      <p class="theme-search-area-subtitle">Search hundreds of travel sites at once</p>
                    </div>

                  
<div class="container">
    <form action="/flights" onsubmit="return dateValidate()" method="GET">
                 <div class="form-row">
                      <div class="col-md-3 mb-3">
                        <label for="depCity">Departure City</label>
                        <input type="text" class="form-control" pattern="[a-zA-Z]+" style="text-transform: uppercase;"  maxlength="3" name="departure_city" id="depCity" placeholder="Departure City" required>
                        
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="destCity">Destination City</label>
                        <input type="text" class="form-control" id="destCity" pattern="[a-zA-Z]+" style="text-transform: uppercase;" maxlength="3" name="destination_city" placeholder="Destination City" required>
                       
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="depDate">Departure Date</label>
                        <div class="input-group">
                        <input type="date" class="form-control" id="depDate" placeholder="Departure Date" name="departure_date" aria-describedby="inputGroupPrepend3" required>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                            <label for="retDate">Return Date</label>
                            <div class="input-group">
                              <input type="date" class="form-control " id="retDate" placeholder="Return Date" name="return_date" aria-describedby="inputGroupPrepend3" required>
                            </div>
                            
                          </div>
                    </div>
                    <div class="form-row">
                            <div class="col-md-3 mb-3">
                                    <label for="cabinClass">Cabin Class</label>
                                    <select class="form-control" name="cabin" id="cabinClass" required>
                                        <option value=""> - Select Cabin Class - </option>
                                        <option value="First">First</option>
                                        <option value="Economy">Economy</option>
                                        <option value="Premium">Premium</option>
                                        <option value="Business">Business</option>
                                        <option value="All">All</option>
                                    </select>
                                    
                                  </div>
                                  <div class="col-md-3 mb-3">
                                    <label for="numAdult">Number of Adults</label>
                                    <input type="number" class="form-control" id="numAdult" min="0" name="no_of_adult" value="0" required>
                                   
                                  </div>
                                  <div class="col-md-3 mb-3">
                                    <label for="numChildren">Number of Children</label>
                                    <div class="input-group">
                                      <input type="number" class="form-control" min="0" id="numChildren" value="0" name="no_of_child" aria-describedby="inputGroupPrepend3" required>
                                      
                                    </div>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                        <label for="numInfants">Number of Infants</label>
                                        <div class="input-group">
                                          
                                          <input type="number" class="form-control" min="0" id="numInfants" value="0" name="no_of_infant" aria-describedby="inputGroupPrepend3" required>
                                          
                                        </div>
                                      </div> 
                            </div>
                                          
                    <button class="btn btn-primary" style="margin: 0 auto;" type="submit">Search</button>
                  
    </div>
    
    </form>
    
   <small style="color:#f3f3f3; padding: 1em; text-align: center"> Not sure of the city code? <a href="https://www.worldnetlogistics.com/iata-city-airport-codes/#">Click Here</a> for a list of all airport city codes </small>          

</div>
</div>
</div>
</div>
</div>
</div>

<script>
const depDate = document.querySelector("#depDate");
const retDate = document.querySelector("#retDate");
const numAdult = document.querySelector("#numAdult");
const numChildren = document.querySelector("#numChildren");
const numInfants = document.querySelector("#numInfants");
const depCity = document.querySelector("#depCity");
const destCity = document.querySelector("#destCity");
depCity.oninvalid=depCity.setCustomValidity('Please enter the city code e.g LOS. ');
destCity.oninvalid=destCity.setCustomValidity('Please enter the city code e.g LOS. ');
const dateValidate = ()=>{
  var depDateValue = (new Date(`'${depDate.value}'`));
  var retDateValue = (new Date(`'${retDate.value}'`))
  var today = Date.now();
      if (depDateValue < today){
        depDate.setCustomValidity("Departure date must be equal or later than today");
      return false;
      } else if(retDateValue < depDateValue){
        retDate.setCustomValidity("Arrival date must be equal or later than departure date")
      return false;
      }else if((depCity.value.toLowerCase()) == (destCity.value.toLowerCase())){
        destCity.setCustomValidity("Destination and arrival cities cannot be the same")
        return false;
      }
      else if(numAdult.value == 0 && numChildren.value == 0 && numInfants.value == 0){
        numAdult.setCustomValidity("Passenger collection cannot be empty please");
        numChildren.setCustomValidity("Passenger collection cannot be empty please")
        numInfants.setCustomValidity("Passenger collection cannot be empty please")
        return false;
      }
      resetThis([depCity,destCity,depDate,retDate,numAdult,numChildren,numInfants]);
      return true;
}

const reset = (event)=>{
	event.target.setCustomValidity('');
}
const resetThis = (els)=>{
els.forEach((el)=>{
  el.oninput=(event)=>{
	event.target.setCustomValidity('');
}
  el.onchange=(event)=>{
	event.target.setCustomValidity('');
}
})
}
resetThis([depCity,destCity,depDate,retDate,numAdult,numChildren,numInfants]);

</script>

<%- include ('partials/footer') %>
