<div style="background-color: #020202;" class="_pt-60">
    <div class="row row-col-mob-gap">
      <div class="col-md-3 ">
        <div class="feature">
          <i class="feature-icon feature-icon-white feature-icon-box feature-icon-round feature-icon-xs fa fa-check"></i>
          <div class="feature-caption _c-w">
            <h5 class="feature-title">Explore the World</h5>
            <p class="feature-subtitle _op-04">Start to discrover. We will help you to visit any place you can imagine</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="feature">
          <i class="feature-icon feature-icon-white feature-icon-box feature-icon-round feature-icon-xs fa fa-check"></i>
          <div class="feature-caption _c-w">
            <h5 class="feature-title">Gifts & Rewards</h5>
            <p class="feature-subtitle _op-04">Get even more from our service. Spend less and travel more</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="feature">
          <i class="feature-icon feature-icon-white feature-icon-box feature-icon-round feature-icon-xs fa fa-check"></i>
          <div class="feature-caption _c-w">
            <h5 class="feature-title">Best prices</h5>
            <p class="feature-subtitle _op-04">We are comparing hundreds travel websites to find best price for you</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="feature">
          <i class="feature-icon feature-icon-white feature-icon-box feature-icon-round feature-icon-xs fa fa-check"></i>
          <div class="feature-caption _c-w">
            <h5 class="feature-title">27/7 Support</h5>
            <p class="feature-subtitle _op-04">Contact us anytime, anywhere. We will resolve any issues ASAP</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="theme-footer-abs">
<div class="container">
<div class="row">
<div class="col-md-6">
<p class="theme-footer-abs-copyright">Copyright &copy; 2018
<a href="#">Bookify</a>. All rights reserved.
</p>
</div>
<div class="col-md-6">
<ul class="theme-social-list theme-footer-abs-social">
<li>
<a class="fa fa-facebook" href="#"></a>
</li>
<li>
<a class="fa fa-twitter" href="#"></a>
</li>
<li>
<a class="fa fa-google" href="#"></a>
</li>
<li>
<a class="fa fa-instagram" href="#"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>







</body>
</html>